<div id="<%= dom_id item %>">
  <p>
    <strong>Itemname:</strong>
   <span id="item_name"> <%= item.itemname %></span>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= item.rating %>
  </p>

  <p>
    <strong>Itemdescription:</strong>
    <%= item.itemdescription %>
  </p>

</div>


 