<div id="<%= dom_id item %>">
  <%=image_tag item.image,class:"img-fluid",style:"width:300px;height:200px" %>
  <p>
   <span > <%= item.itemname %></span><br>
   <span><%= item.itemdescription %></span><br>
    Price:<%= item.price %><br><br>
    <% if item.discount.present? %>
      Discount: <span><%= item.discount.name %></span><br>
    <%end%>
    <% if item.customizedfood.present? %>
      <% if item.customizedfood.description.present? %> 
        Description for the Chef :<span id="fooddescription"><%= item.customizedfood.description %></span><br>
      <% end %>
      <% if item.customizedfood.add_ons.present? %> 
        Add Ons :<span id="addons"><%= item.customizedfood.add_ons.join(",")%></span>
      <% end %>
    <% end %>
  </p>
  </p>
 </div>


 